.wrapperCalculatorView {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reload {
  margin-top: 70px;
  width: 120px;
  height: 40px;
  border: 1px solid black;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
}

.reload:hover {
  -webkit-box-shadow: 0px 2px 5px #555454;
          box-shadow: 0px 2px 5px #555454;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: black;
}

.clearButton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.CE {
  margin: 40px 0 0 50px;
  border: 1px solid black;
  border-radius: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
  padding: 15px;
  height: 60px;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
}

.CE:hover {
  -webkit-box-shadow: 0px 2px 5px #555454;
          box-shadow: 0px 2px 5px #555454;
}

.equal {
  margin: 40px 0 0 30px;
  border: 1px solid black;
  border-radius: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
  padding: 15px;
  height: 60px;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
}

.equal:hover {
  -webkit-box-shadow: 0px 2px 5px #555454;
          box-shadow: 0px 2px 5px #555454;
}

.calculatorViewContainer {
  border: 1px solid black;
  -webkit-box-shadow: 0px 2px 5px #555454;
          box-shadow: 0px 2px 5px #555454;
  width: 810px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 550px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.calculatorViewContainer .calculatorScreen {
  border-bottom: 1px solid black;
  background-color: #555454;
  font-size: 25px;
  padding: 0 30px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 90px;
  color: white;
  margin: 0 auto;
}

.calculatorViewContainer .calculatorButtons {
  width: 100%;
  height: 300px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.calculatorViewContainer .calculatorButtons #numberButtons {
  width: 400px;
  height: fit-content;
  padding-right: 0;
  margin: 0;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}

.calculatorViewContainer .calculatorButtons #operationButtons {
  width: 400px;
  height: fit-content;
  margin: 0;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}

.previousNum {
  height: 30px;
  width: 100%;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.currentNum {
  width: 100%;
  height: 50px;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}


@media screen and (max-width: 818px) {
  .calculatorViewContainer{
    width: 430px;
    height: 500px;
  }
  #numberButtons{
    max-width: 250px;
    gap: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .singleButtonsStyle{
    border-radius: 0;
    margin: 1px;
  }
  .singleButtonsStyle:hover{
    box-shadow: none;
    background-color: #adadad2c;
  }
  .calculatorButtons{
    min-height: 250px;
  }
  .CE{
    margin-left: 50px;
    min-width: 120px;
    max-width: 120px;
    border-radius: 0;
  }
  .equal{
    margin-left: 2px;
    min-width: 60px;
    max-width: 60px;
    border-radius: 0;
  }
  #operationButtons{
    max-width: 180px;
    gap: 0;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
  }
}
@media screen and (max-width: 455px){
  #operationButtons{
    padding: 0;
    max-width: 130px;
  }
  #numberButtons{
    padding: 0;
    max-width: 200px;
    width: 200px;
    padding-left: 5px;
  }
  .calculatorViewContainer{
    width: 330px;
  }
  .CE{
    margin-left: 5px;
  }
}